@use 'sass:math';

/*------------------------------------*\
	BAND
\*------------------------------------*/
// Band is used to provide consistant spacing between large sections of the page
// To be used instead of .island when working with higher level section.

.band {
	margin-bottom: $space;
}

.band--half {
	margin-bottom: math.div($space, 2);
}

.band--two {
	margin-bottom: $space * 2;
}

.band--three {
	margin-bottom: $space * 3;
}

.band--four {
	margin-bottom: $space * 4;
}
