/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

main {

	@extend .cf;
	padding: 1rem;

	> article,
	> aside {
		@extend .band--two;
	}

	> aside {

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.panel {
			flex: 0 0 calc(50% - #{$space / 2});
		}

	}

	@include mq(M) {
		padding: 2rem;
	}

	@include mq(900) {

		display: flex;

		> article {
			flex: 0 1 auto;
		}

		> aside {
			flex: 0 0 265px;
			margin-left: $space;
			display: block;
		}

	}


}

.wrapper {
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	background-color: color('white');
	margin: 0 auto;
	max-width: $max-width + px;
	min-height: 100%;
}
