/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

main {

	@extend .cf;
	padding: 40px; // ATTN

	> article {
		@include span(9 of 12);
	}

	> aside {
		@include span(3 of 12 last);
	}

}

.wrapper {
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	background-color: color('white');
	margin: 0 auto;
	max-width: $max-width + px;
	min-height: 100%;
}
