<footer class="site-footer">

	<a href="/" class="site-footer__logo">
		<img src="{{ theme.uri }}/public/images/logo.svg" />
	</a>

	<div class="site-footer__colophon">

		<p class="site-footer__social">

			<a href="https://www.facebook.com/SomersetAdvancedMotorcyclists/" title="Follow us on Facebook">
				<svg viewBox="0 0 9 16"><use xlink:href="#icon-facebook"></svg>
			</a>

			<a href="https://www.instagram.com/somersetadvancedmotorcyclists/" title="Follow us on Instagram">
				<svg viewBox="0 0 50 51"><use xlink:href="#icon-instagram"></svg>
			</a>

			<a href="https://twitter.com/samtweeps" title="Follow us on Twitter">
				<svg viewBox="0 0 12 11"><use xlink:href="#icon-twitter"></svg>
			</a>

		</p>

		<p>View our <a href="/privacy-policy">privacy policy</a></p>
		<p>Copyright <?php echo date('Y'); ?> Somerset Advanced Motorcyclists</p>
		<p>Supported by <a href="https://theideabureau.co">The Idea Bureau</a></p>

	</div>

</footer>
