<div class="panel panel--social / band">

	<header class="panel__header">
		<h5 class="panel__title">Follow us on Social Media</h5>
	</header>

	<div class="panel__content">

		<p>Follow us on social media to keep up to date with Somerset Advanced Motorcyclists.</p>

		<a href="https://www.facebook.com/SomersetAdvancedMotorcyclists/" title="Follow us on Facebook">
			<svg><use xlink:href="#icon-facebook"></svg>
		</a>

		<a href="https://www.instagram.com/somersetadvancedmotorcyclists/" title="Follow us on Instagram">
			<svg><use xlink:href="#icon-instagram"></svg>
		</a>

		<a href="https://twitter.com/samtweeps" title="Follow us on Twitter">
			<svg><use xlink:href="#icon-twitter"></svg>
		</a>

	</div>

</div>
