/*

---
name: Event
category:
 - Components
 - Components/Event
---

```html
<div class="event">

	<header class="event__header">

		<div class="event__rating" data-event-rating="green"></div>

		<h3 class="event__title">Event Title</h3>

	</header>

	<p class="event__date">Wednesday 27th March 2018</p>
	<p class="event__location">Cartgate Picnic Area</p>

</div>
```

*/

.event {
	@include font-size(14);
	background-color: color('light-grey');
	border: 1px solid color('grey');
	padding: em(15, 14);
}

.event__header {

	display: flex;
	margin-bottom: em(10, 14);

}

.event__rating {

	display: block;
	height: em(20, 14);
	width: em(20, 14);
	margin-right: em(10, 14);
	border-radius: 50%;
	background-color: color('event-default');
	flex: none;

	&[data-event-rating="green"] {
		background-color: color('event-green');
	}

	&[data-event-rating="amber"] {
		background-color: color('event-amber');
	}

	&[data-event-rating="red"] {
		background-color: color('event-red');
	}

}

.event__title {
	@include font-size(20);
	@include font('primary', 'semibold');
	margin-top: em(-3, 14);
	margin-bottom: 0;
	flex: 1 1 auto;
}

.event__date,
.event__location {
	margin-bottom: 0;
}
