.full-chat-item {

	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}

	@include span(2 of 4);

	&:nth-child(2n) {
		@include last;
	}

	@include mq(M) {
		@include span(3 of 6);
	}

	@include mq(L) {

		&,
		&:nth-child(2n) {
			@include span(3 of 9);
		}

		&:nth-child(3n) {
			@include last;
		}

	}

	img {
		border: 1px solid color('grey');
		width: 100%;
		margin-bottom: .5em;
	}

}
