/*

---
name: Hero
category:
 - Components
 - Components/Hero
---

```html
<section class="hero">

	<div class="hero__content">
		<h1>South West Penisular Spring Rally</h1>
		<p>Welcome to Somerset Advanced Motorcyclists (SAM). We are a friendly and very active club with membership currently standing at around 100 strong. Our passion covers all things motorcycle related, with many of our people possessing a wealth of knowledge that is freely shared across the group - all in the name of increasing your motorcycling enjoyment.</p>
	</div>

	<div class="hero__badge">
		<img src="https://cl.ly/203Q3l02461v/iam-logo.png" />
	</div>

</section>
```

*/

.hero {

	background-image: url('https://cl.ly/2z3V3o2e3r2x/hero-image.png');
	background-size: cover;
	background-position: bottom;
	color: color('white');

	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	min-height: 175px;
	padding: 2rem 1.5rem 1.5rem;

	@include mq(M) {
		padding: 4rem 2.5rem 3rem;
		min-height: 360px;
	}

}

.hero__content {
	max-width: 830px;
	margin-right: 1rem;
}

.hero__content > :last-child {
	margin-bottom: 0;
}

.hero__badge {

	width: 15vw;
	max-width: 90px;

	@include mq(M) {
		width: 90px;
	}

}

.hero__badge img {
	border: 2px solid color('white');
}

.hero__badge img {
	border: 2px solid color('white');
}
