/*

---
name: Panel
category:
 - Components
 - Components/Panel
---

```html
<div class="panel">

	<header class="panel__header">
		<h5 class="panel__title">Free Taster Ride</h5>
	</header>

	<div class="panel__content">

		<p>Welcome to Somerset Advanced Motorcyclists (SAM). We are a friendly and very active club with membership currently standing at around 100 strong.</p>

		<a href="#" class="button button--small button--upper">Book your taster ride</a>

	</div>

</div>
```

*/

.panel {
	@include font-size(16);
	border: 2px solid color('dark-blue');
}

.panel__header {
	background-color: color('dark-blue');
	color: color('white');
	padding: .7em 1em;
}

.panel__title {
	@include font-size(20);
	@include font('primary', 'semibold');
	margin-bottom: 0;
}

.panel__content {
	padding: 1em;
}

.panel__content > :last-child {
	margin-bottom: 0;
}
