.event__group {
	position: relative;
}

.events-legend {

	@include font-size(16);

	@include mq(M) {
		display: flex;
		flex-wrap: wrap;
	}

	span {
		display: flex;
		align-items: center;
		margin-right: 1em;
		margin-top: 1em;
	}

	.event__rating {
		margin-right: .5em;
	}

}

.hero .events-legend {

	margin-top: -1em;

	@include mq(M, 'max-width') {
		display: none;
	}

}

.hero-mobile .events-legend {
	margin-bottom: 1em;
}

