.swpsr-content {

	margin-bottom: spacing(4);

	@include mq(L) {
		@include span(6 of 9);
	}

}

.swpsr-gallery {


	article & {

		display: none;

		@include mq(L) {
			display: block;
			@include span(3 of 9 last);
		}

	}

	aside & {

		@include mq(L) {
			display: none;
		}

	}

	img {
		width: 100%;
	}

}
